.shipping-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  padding: 40px 80px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.shipping-policy div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16.5px;
  border-bottom: 2px solid var(--color-black);
  padding-bottom: 25px;
}

.contact-via-mail:hover {
  cursor: pointer;
  color: #007bff;
}

@media (max-width: 600px) {
  .shipping-policy {
    font-size: 12px;
  }
  .shipping-policy div {
    font-size: 14.5px;
  }
}