
.home {
    width: 100%;
    height: 1800px;
    display: grid;
    grid-template-rows: 1fr 0.4fr 1fr 1fr;
    padding: 0px 40px;
    font-family: "Roboto Condensed", sans-serif;
}

.th {
    background-color: #292929;
    color: #fff;
    font-size: 20px;
}

.th h2{
color: orange;
}