@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

nav {
  height: 90px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  /* background-color: #faf9f6; */
  background-color: #fff;
}

.upperNav,
.bottomNav {
  padding: 0px 50px;
}

.upperNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
}

.bottomNav ul {
  display: flex;
  list-style-type: none;
}

.bottomNav ul li {
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

.bottomNav a:hover {
  color: #f89b1d;
  text-decoration: underline;
}

.upperNav a,
.bottomNav a {
  text-decoration: none;
  color: #fff;
}

.logo {
  font-family: "Knewave", system-ui;
  font-size: 30px;
  color: #292929;
}

.upperNav input {
  width: 220px;
  height: 22px;
  border: 0.5px solid black;
  box-shadow: 2px 1px 0px 1.5px, 0px -1px 0px 1.5px rgba(0, 0, 0, 0.62);
  outline: none;
  transform: skew(-3deg, 0.5deg);
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 5px;
}