.info {
  background-color: var(--color-white);
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info h1 {
  color: var(--color-orange);
  text-align: center;
}

.infoCards {
  width: 100%;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 0px 70px;
}

.cardOne,
.cardTwo {
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.cardOne h4,
.cardTwo h4 {
  text-align: center;
  margin-bottom: 10px;
}

.shipping {
  text-align: center;
}

.shipping span {
  background-color: var(--color-orange);
}
