.topSellers {
  background-color: #f89b1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  width: 90%;
}

.topHeading {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 18px;
  color: #fff;
}

.topRecords {
  display: flex;
  justify-content: space-between;
}

.topItem {
  width: 220px;
  height: 280px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.topItem:hover {
  cursor: pointer;
}

.topItem:hover .topFiveImg {
  transform: rotateY(360deg);
}

.topFiveImg img {
  width: 100%;
  height: 100%;
}

.topFiveImg {
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.topFiveData {
  text-align: center;
}

